# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
server/prisma/migrations/**/migration_lock.toml

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
coverage/
.vitest/

# Cache
.eslintcache
.turbo/
*.tsbuildinfo

# Producción
*.pem
